.error-message {
    color: red;
    font-size: 0.8rem;
    display: block;
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: red;
}

input:valid,
select:valid,
textarea:valid {
    border-color: green;
}